


<div class="wrapper">
  <div class="container-fluid">
    <div class="row">


      <div class="col-sm-2 no-gutter text-center">
        <div class="logo">
          <%= image_tag "logo.svg", id: "main" %>
        </div>
        <div class="navi">
          <a href="#main"><li>MAIN</li></a>
          <a href="#projects"><li>PROJECTS</li></a>
          <a href="#contact"><li>CONTACT</li></a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="try"></div>
      </div>
      <div class="col-sm-2">
        <div class="try"></div>
      </div>
      <div class="col-sm-2">
        <div class="try"></div>
      </div>
      <div class="col-sm-2">
        <div class="try"></div>
      </div>
      <div class="col-sm-2">
        <div class="try"></div>
      </div>


    </div>
  </div>
</div>
