@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);


body {
  background: linear-gradient(to left, #5D4157 , #A8CABA);
}

a:hover{
  text-decoration: none;
}

a{
  text-decoration: none !important;
}
